.cc-button {
    padding: 10px 20px;
    border: 4px solid;
    outline: 0;
    background: none;
    cursor: pointer;

    &.-disabled {
        cursor: default;
        pointer-events: none;
    }

    &.-no-border {
        border: 0;
    }
}
